<% was_validated = venue.errors.any? %>

<%= form_with(model: venue, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for address start -->
  <div class="form-group">
    <% address_class = "form-control" %>
    <% address_was_invalid = venue.errors.include?(:address) %>

    <% if was_validated %>
      <% if address_was_invalid %>
        <% address_class << " is-invalid" %>
      <% else %>
        <% address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :address %>
    <!-- Input for address start -->
    <%= f.text_area :address, class: address_class, placeholder: "Enter address" %>
    <!-- Input for address end -->
    <% if address_was_invalid %>
      <% venue.errors.full_messages_for(:address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for address end -->
  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <% dish_class = "form-control" %>
    <% dish_was_invalid = venue.errors.include?(:dish) %>

    <% if was_validated %>
      <% if dish_was_invalid %>
        <% dish_class << " is-invalid" %>
      <% else %>
        <% dish_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_id %>
    <!-- Input for dish_id start -->
    <%= f.number_field :dish_id, class: dish_class, placeholder: "Enter dish" %>
    <!-- Input for dish_id end -->
    <% if dish_was_invalid %>
      <% venue.errors.full_messages_for(:dish).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dish_id end -->
  <!-- Label and input for google_maps_url start -->
  <div class="form-group">
    <% google_maps_url_class = "form-control" %>
    <% google_maps_url_was_invalid = venue.errors.include?(:google_maps_url) %>

    <% if was_validated %>
      <% if google_maps_url_was_invalid %>
        <% google_maps_url_class << " is-invalid" %>
      <% else %>
        <% google_maps_url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :google_maps_url %>
    <!-- Input for google_maps_url start -->
    <%= f.text_field :google_maps_url, class: google_maps_url_class, placeholder: "Enter google maps url" %>
    <!-- Input for google_maps_url end -->
    <% if google_maps_url_was_invalid %>
      <% venue.errors.full_messages_for(:google_maps_url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for google_maps_url end -->
  <!-- Label and input for neighborhood_id start -->
  <div class="form-group">
    <% neighborhood_class = "form-control" %>
    <% neighborhood_was_invalid = venue.errors.include?(:neighborhood) %>

    <% if was_validated %>
      <% if neighborhood_was_invalid %>
        <% neighborhood_class << " is-invalid" %>
      <% else %>
        <% neighborhood_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :neighborhood_id %>
    <!-- Input for neighborhood_id start -->
    <%= f.number_field :neighborhood_id, class: neighborhood_class, placeholder: "Enter neighborhood" %>
    <!-- Input for neighborhood_id end -->
    <% if neighborhood_was_invalid %>
      <% venue.errors.full_messages_for(:neighborhood).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for neighborhood_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
