<%= form_with(model: @unique_listing, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dish_id %>

    <%= f.collection_select :dish_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <%= f.submit "Create unique listing", class: "btn btn-block btn-outline-secondary" %>
<% end %>
