<!-- Form unique_listing start -->
<%= form_with(model: @unique_listing, local: true) do |f| %>
<!-- Form unique_listing end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <%= f.label :dish_id %>

    <!-- Input for dish_id start -->
    <%= f.text_field :dish_id, class: "form-control" %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <%= f.hidden_field :venue_id, value: @venue.id %>
  <!-- Input for venue_id end -->
  <!-- Label and input for venue_id end -->

  <%= f.submit "Create unique listing", class: "btn btn-block btn-outline-secondary" %>
<% end %>
